/* - - - Global styles - - - */
body{
    background: #D8E0E8;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* - - - Sidebar styles  - - - */
#sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

#sidebar .d-flex{
    position: relative;
    color: #2A2B2C;
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 15px;
    text-decoration: none;
}

#sidebar li{
    list-style: none;
}

#sidebar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-nav-items, .side-nav-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

#sidebar .item span{
    padding-left: 20px;
}

/* - - - Mainbar styles - - - */
#mainbar{
    position: absolute;
    height: 75px;
    right: 0;
    left: 280px;
    overflow: hidden;
    background: #fff;
}

#mainbar .d-flex{
    position: relative;
    color: #2A2B2C;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-decoration: none;
}

#mainbar li{
    display: inline-block;
    float: right;
    height: 75px;
}

#mainbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#mainbar a {
    height: 75px;
}

#mainbar li.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

#mainbar li.signin button {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

#mainbar .fa-user{
    margin-right: 10px;
}

.main-nav-item {
    margin-left: 15px;
}

#mainbar .form-control {
    background-color: inherit;
    padding-left: 10px;
    border-radius: 20px;
    width: 500px;
}

/* - - - Navbar styles - - - */
/* TODO: Fix logo alignment with icons */
.logo{
    display: flex;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #2196f3;
}

a:hover{
    color: #1D1E1E;
}

.fa-solid{
    position: relative;
    font-size: 30px;
    margin-left: 8px;
}

.createNewAcc, .logout{
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    width: 280px;
    padding: 15px;
}

#loginBtn, #logoutBtn, #mainLoginBtn{
    width: 100%;
    border-radius: 20px;
}

/* - - - Modal styles - - - */
.modal-content {
    width: 80%;
    margin: 0 auto;
}

.modal-body {
    padding: 0;
}

.btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.myform {
    padding: 2em;
    max-width: 100%;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}

@media (max-width: 576px) {
    .myform {
        max-width: 90%;
        margin: 0 auto;
    }
}

.form-control:focus {
    box-shadow: none;
}

.form-control {
    background-color: inherit;
    padding-left: 10px;
    border-radius: 20px;
}

.myform .btn {
    font-family: Roboto, sans-serif;
    width: 100%;
    font-weight: 500;
    background-color: #0d6efd;
    border-radius: 20px;
    padding: 0.5em 0;
    color: #fff;
}

.myform .btn:hover {
    background-color: #4aa5ed;
    border-color: #fff;
}

#regMsg {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 1em;
    color: grey;

}
#regMsg a {
    text-decoration: none;
}

#regMsg a:hover {
    text-decoration: none;
    color: #4aa5ed;
}

label {
    font-family: Roboto, sans-serif;
}

.form-label {
    margin-bottom: 0.5rem;
    padding-left: 9px;
}
