/* - - - Global styles - - - */
body{
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 14px;
}




#back-button {
    position: absolute;
    top: 0px;
    left: -50px;
    background-color: #FFF;
    transition: background-color 0.1s ease-in-out;
    border-radius: 50% 0px 0px 50%;
}
#back-button:hover {
    color: #0d6efd;
}

.toggle {
    cursor: pointer;

}

.burger {
    padding-left: 11px;
    padding-right: 11px;
    font-size: 30px;
    color: #0d6efd;
}

#chatsContainer {
    background: #D8E0E8;
    display: flex;
    position: absolute;
    left: 280px;
    RIGHT: 0;
    height: -webkit-fill-available;
    top: 75px;
    border-radius: 15px;
    margin-right: 80px;
    margin-bottom: 50px;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    overflow: auto;
    max-height: 5000px;
    justify-content: center;



}



.createOrJoinChat {
padding: 2rem;
}


/* Styling for the chat modal */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 2;
}

.chatModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

/* Style the modal header */
.chatModal-header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

/* Style the modal body (this is where the chat content will be) */
.chatModal-body {
    max-height: 300px;
    overflow-y: auto;
}

/* Style the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* - - - Sidebar styles  - - - */


#sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #ffffff;
    width: 280px;
    overflow: hidden;
    /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); */
    z-index: 10;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    border-radius: 0px 15px 15px 0;
}

#sidebar.open {
    width: 73px;
}

.sidebar-icon {
    cursor: pointer;
    padding: 5px;
}

#sidebar .d-flex{
    position: relative;
    color: #2A2B2C;
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 15px;
    text-decoration: none;
}


#sidebar li{
    list-style: none;
}

#sidebar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar i {
    margin-right: 10px;
}

#sidebar .item i{
    margin-right: 40px;
}
#sidebar #friendsLink i {
    margin-right: 35px;
}

#sidebar .item img{
    margin-right: 28px;
}


#sidebar .item {
    margin-top: 20px;
    padding: 20px;
}



#sidebar .acc i {
    padding-left: 5px;
}

.side-nav-items, .side-nav-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
}

#sidebar .item span{
    font-weight: bold;
    text-align: right;
}

.main-btn {
    margin-bottom: 20px;
}

/* - - - Mainbar styles - - - */
#mainbar{
    display: grid;
    justify-content: center;
    position: absolute;
    height: 75px;
    left: 280px;
    overflow: hidden;
    transition: left 0.3s ease;
    background: white;
    align-content: center;
    right: 80px;

}



#mainbar .d-flex{
    position: relative;
    color: #2A2B2C;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-decoration: none;
}

#mainbar li{
    display: inline-block;
    float: right;
    height: 60px;
}

#mainbar ul{
    /* height: 80%; */
    list-style-type: none;
    margin: 0;
    background: white;
    border-radius: 0px 0px 15px 15px;
    /* box-shadow: 0 -5px 35px rgba(0, 0, 0, 0.1); */

}

#mainbar a {
height: 75px;
}

li.signin {
position: absolute;
bottom: 0;
margin-bottom: 120px;
width: 280px;
padding: 15px;
}


li#input {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

#mainbar li.signin button {
display: inline-block;
width: 150px;
font-weight: bold;
}

#mainbar .fa-user{
margin-right: 10px;
}

.main-nav-item {
margin-left: 15px;
}

#mainbar button.inputIcon {
position: absolute;
right: 0;
width: 80px;
cursor: pointer;
background: transparent;
}

/* - - - Login Button Style - - - */
#mainLoginBtn {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin-right: 20px;
    font-size: 14px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

.or {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px;

}

#mainLoginBtn::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 300px;
    height: 100px;
    z-index: -1;
    border-radius: 50%;
}

#mainLoginBtn:hover {
    color: white;
}

#mainLoginBtn:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
}

#mainLoginBtn:hover::before {
    top: -30px;
    left: -30px;
}

/* - - - Searchbar styles - - - */
.form {
    --focus-input-bg-color: transparent;
    --text-color: #949faa;
    --active-color: #0077ff;
    --width-of-input: 400px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
}
/* form style */
.form {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--width-of-input);
    position: relative;
    isolation: isolate;
    justify-content: center;
}
/* a fancy bg for showing background and border when focus. */
.fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* label styling */
label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
}

.search,.close-btn {
    position: absolute;
}
/* styling search-icon */
.search {
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
}
/* svg -- size */
svg {
    width: 17px;
    display: block;
}
/* styling of close button */
.close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-color);
    opacity: 0;
    visibility: hidden;
}
/* styling of input */
.input {
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: var(--text-color)
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
    border: 1px solid var(--active-color);
    background: var(--focus-input-bg-color);
}
/* search icon color change in focus */
.input:focus ~ .search {
    fill: var(--active-color);
}
/* showing close button when typing */
.input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
}

/* - - - Navbar styles - - - */
/* TODO: Fix logo alignment with icons */
.logo{
    display: flex;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #2196f3;
}

a:hover{
    color: #1D1E1E;
}

.fa-solid{
    position: relative;
    font-size: 30px;
    margin-left: 8px;
}

.createNewAcc, .logout{
    position: absolute;
    bottom: 0;
    width: 280px;
    padding: 15px;
    margin-bottom: 69px;
}

#loginBtn, #logoutBtn, #mainLoginBtn{
    width: 100%;
    border-radius: 20px;
}

/* - - - Modal styles - - - */
.modal-content {
    width: 80%;
    margin: 0 auto;
    display: contents;

}

.modal-body {
    padding: 0;
}

.btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.myform {
    padding: 2em;
    max-width: 100%;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 15px;

}

@media (max-width: 576px) {
    .myform {
        max-width: 90%;
        margin: 0 auto;
    }
}

.form-control:focus {
    box-shadow: none;
}

.form-control {
    background-color: inherit;
    padding-left: 10px;
    border-radius: 20px;
}

.myform .btn {
    font-family: Roboto, sans-serif;
    width: 100%;
    font-weight: 500;
    background-color: #0d6efd;
    border-radius: 20px;
    padding: 0.5em 0;
    color: #fff;
}


.createOrJoinChat .btn {
    font-family: Roboto, sans-serif;
    width: 30%;
    font-weight: 500;
    background-color: #0d6efd;
    border-radius: 20px;
    padding: 0.5em 0;
    color: #fff;
    margin-bottom: 20px;
}

.myform .btn:hover {
    background-color: #4aa5ed;
    border-color: #fff;
}

#regMsg {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 1em;
    color: grey;

}
#regMsg a {
    text-decoration: none;
}

#regMsg a:hover {
    text-decoration: none;
    color: #4aa5ed;
}

label {
    font-family: Roboto, sans-serif;
}

.form-label {
    margin-bottom: 0.5rem;
    padding-left: 9px;
}

#create-chat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

.modal-content {
    position: relative;
    margin: 50px auto;
    width: 500px;
    background-color: #fff;
    padding: 20px;
}

#close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.content {
    display: flex;
}

#modalLinksContainer {
    display: grid;
   grid-template-columns: repeat(2, 1fr );

}

#chatDiv {
    margin: 20px;
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

#chatDiv:hover {
    background: #f1f1f1;
    cursor: pointer;
}



.content-header {
    display: flex;
    margin: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #09009f, #9d66f6 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content-header2 {
    display: flex;
    margin: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #9d66f6, #d766f6 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-header3 {
    display: flex;
    margin: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #d766f6, #f1b130 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#chatModal h3 {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 50px;

}

#chatModal .myform {
    height: 800px;
    max-width: 500px;
    word-break: break-word;
}

#chatModal .messages {
    height: 500px;
    background: #D8E0E8;
    overflow: auto;
    margin-left: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.send-message {
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin-left: 10px;
}
.send-message input {
    border-radius: 15px 0 0 15px;
}
.input-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    margin-left: 10px;
}

.send-message button {
    width: 100%;
    font-weight: 500;
    background-color: #0d6efd;
    border-radius: 0px 15px 15px 0;
    padding: 0.5em 0;
    color: #fff;}

.send-message button:hover {
    background-color: #4aa5ed;
    border-color: #fff;
}

.modal-sidebar {
    background: transparent;
    max-height: 250px;
    border-radius: 15px;
    display: table;
}

.modal-sidebar-messages {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.modal-sidebar-items {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    position: relative;
    right: 5px;
}

.modal-sidebar-items i {
    background: #D8E0E8;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: grid;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
}


